/*--------- Police d'écriture ----------*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap%27');
/*
font-family: 'Raleway', sans-serif;
*/

/*---------- Variable de couleurs ------*/

:root {
    --bleu: #0065FC;
    --bleuClair: #DEEBFF;
    --grisFond: #F2F2F2;

    /*!*Pour les couleurs*!*/
    /*color: var(--bleu);*/
}

/*-------------Réglages générale--------------*/
*{
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth;
}
.main-container{
    width: 1800px;
    max-width: calc(100% - 3rem);
    margin: auto;
}

footer {
   padding-bottom: 20px;
}

body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

ul {
    margin: 0;
    padding: 0;
}

h3 {
    font-size: 1.3em;
}

a {
    text-decoration: none;
    color: black;
}

button {
    padding: 0;
}

/*------------ HEADER ---------------*/
/*------------Navigation-------------*/

nav {
    overflow: hidden;
    margin: 0;
}
.onglets {
    display: flex;
    align-items: center;
}
.onglets li:nth-child(1){
    flex-basis: 100%;
}
header li {
    font-size: 1.2em;
}

header li a {
    text-decoration: none;
    color: var(--bleu);
    text-align: center;
}

.onglets li:nth-child(n+2) {
    padding: 20px 3%;
    color: var(--bleu);
    border-top: 2px solid transparent ;
}

.onglets li:nth-child(n+2):hover {
    border-top: 2px solid var(--bleu);
}

.onglets span {
    font-weight: bold;
}

.onglets img{
    height: 60px;
    width: 125px;
}

/*-------------Titre ---------------*/
.header_title h2 {
    margin: 20px 0px 0px 0px;
    font-size: 1.5em;
}

.header_title p {
    margin: 0px 0px 20px 0px;
}

/*------------- Recherche ----------*/

#header_research {
    display: flex;
    justify-content: flex-start;
    height: 45px;
}

#header_research span {
    height: 100%;
    width: 50px;
    min-width:40px;
    background-color: var(--grisFond);
    border-radius: 15px 0px 0px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#header_research input[type="text"] {
    font-weight: bold;
    font-size: 1.1em;
    padding: 0 15px;
    border: transparent;
    border-top: 1px solid var(--grisFond);
    border-bottom: 1px solid var(--grisFond);
}

#header_research input[type="text"]:focus-visible {
    outline: transparent;
    background-color: var(--bleuClair);
}

#header_research button {
    font-weight: bold;
    height: 100%;
    width: 110px;
    text-align: center;
    background-color: var(--bleu);
    color: #fff;
    border-radius: 0px 15px 15px 0px;
    border-color: transparent;
}

#header_research button:active {
    border-color: rgba(118, 118, 118, 0.40);
    background-color: var(--bleuClair);
    color: #0c0101c7;
}

/*----------- Filtres " BUTTON " ---*/


.filtres_btn {
    display: flex;
    align-items: center;
    margin: 25px 0;
}

.btn {
    position: relative;
    display: flex;
    height: 50px;
    max-width: max-content;
    margin: 0 10px;
    background: transparent;
    border: 1.5px solid var(--grisFond);
    outline: none;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
}

.btn,
.btn::after {
    /* "-ms- "pour Microsoft (Internet Explorer)*/
    -webkit-transition: all 0.3s;
    /*Webkit (Chrome, Safari, Android...)*/
    -moz-transition: all 0.3s;
    /* Gecko (Mozilla)*/
    -o-transition: all 0.3s;
    /*Opera*/
    transition: all 0.3s;
}

.btn::after {
    background: var(--bleu);
    border-radius: 25px;
    content: '';
    position: absolute;
    z-index: -1;
    height: 99%;
    left: 12px;
    top: 0;
    width: 0px;
}

.btn:hover::after {
    border-color: var(--bleu);
    color: var(--bleu);
    width: calc(100% - 12px);
}
.btn:hover,.btn__text:hover{
    color: white;
}

.filtres_btn .btn__text {
    margin: 0 10px;
}

.filtres_btn .btn__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bleuClair);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-left: -2px;
}

.filtres_btn .btn__icon i {
    background-color: var(--bleuClair);
    color: var(--bleu);
    border-radius: 50px;
    font-size: 1.1em;
}

/*--------Infos sur le nombre de logements trouvé ----*/

.container-info{
    display: flex;
    align-items: center;
}
#header_number_logements .fas {
    margin-right: 5px;
    color: var(--bleu);
    border: 2px solid var(--grisFond);
    border-radius: 50%;
    font-weight: 600;
    padding: 5px;

}

.fa-info:before {
    padding: 5px;
}



/*------------ Main ---------------------------------*/
/*------------ Hébergements à Marseille --------------*/

#result_research {
    display: flex;
    justify-content: space-between;

}

.result_hebergements {
    background-color: var(--grisFond);
    border-radius: 25px 25px 25px 25px;
    padding: 20px;
    width: 65%;
}

.result_hebergements h2 {
    margin: 20px;
}

.cards_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
/*    grid-template-areas:*/
/*            "a b c"*/
/*            "d e f";*/
}

/*.cards_wrapper:nth-child(1) {*/
/*    grid-area: a;*/
/*}*/

/*.cards_wrapper:nth-child(2) {*/
/*    grid-area: b;*/
/*}*/

/*.cards_wrapper:nth-child(3) {*/
/*    grid-area: c;*/
/*}*/

/*.cards_wrapper:nth-child(4) {*/
/*    grid-area: d;*/
/*}*/

/*.cards_wrapper:nth-child(5) {*/
/*    grid-area: e;*/
/*}*/

/*.cards_wrapper:nth-child(6) {*/
/*    grid-area: f;*/
/*}*/

/*------------- Cards hébergements -------------------*/
.cards_hebergements {
    margin: 20px;
    width: 85%;
    padding: 0.4em;
    background-color: #fff;
    border-radius: 25px 25px 25px 25px;
    align-content: center;
    -webkit-box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.1);
}

.cards_hebergements:hover {
    opacity: 0.8;
    transform: scale(1.05);
    transition: 0.4s ease-out;
}

.hebergements_img {
    height: 120px;
    border-radius: 20px 20px 0px 0px;
    overflow: hidden;
}

.cards_hebergements img {
    height: inherit;
    object-fit: cover;
    width: 100%;
}

.cards_hebergements h3 {
    margin: 5px 0 10px 15px;
    font-size: 1.2em;
    font-weight: 600;
}

.cards_hebergements p, .hebergements_star {
    margin: 5px 15px;
}

/*---------------- Afficher plus --------------------*/

.show-more {
    margin: 20px
}

.show-more a {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2em;
    color: black;
    font-weight: bold;
}

.show-more a:hover {
    color: var(--bleu);
}


/*------------ Les plus populaires ------------------*/
#result_popular {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--grisFond);
    border-radius: 25px 25px 25px 25px;
    padding: 20px;
    width: 31%;
}

#result_popular h2 {
    display: flex;
    justify-content: space-between;
    margin: 20px 50px 20px 25px;
}

/*------------- Cards Populaires -------------------*/

.cards_popular {
    display: flex;
    margin: 15px;
    background-color: #fff;
    border-radius: 25px 25px 25px 25px;
    align-content: center;
    -webkit-box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.1);
}

.cards_popular:hover {
    opacity: 0.8;
    transform: scale(1.05);
    transition: 0.4s ease-out ;
}

.popular_img {
    height: 160px;
    width: 40%;
    margin: 5px;
}

.cards_popular img {
    width: 90%;
    height: inherit;
    object-fit: cover;
    overflow: hidden;
    border-radius: 25px 0px 0px 25px;

}

.card_infos {
    display: flex;
    flex-direction: column;
    align-content: stretch;
}

.card_infos h3 {
    margin: 22px 0 0 0;
    font-size: 1.2em;
}
.popular_star{
    padding-top: 15px ;
}


/*--------------- Les étoiles ------------------------*/
.fa-star {
    /*Pour les étoiles sous les cards*/
    color: var(--bleuClair);
}

.checked {
    /*Eoiles check*/
    color: var(--bleu);
}

/*-------------- Activités à Marseille --------------*/

#activity {
    padding: 20px 0;
}

#activity h2 {
    padding: 15px 0;
}

.cards_wrapper_activity {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
            "a b c d"
            "a e c f";
}

.cards_activity:nth-child(1) {
    grid-area: a;
    margin: 0 20px 0 0;
}

.cards_activity:nth-child(2) {
    grid-area: b;
    margin: 0 20px 20px 20px;

}

.cards_activity:nth-child(3) {
    grid-area: e;
    margin: 20px 20px 0 20px;

}

.cards_activity:nth-child(4) {
    grid-area: c;
    margin: 0 20px;
}

.cards_activity:nth-child(5) {
    grid-area: d;
    margin: 0 0 20px 20px;
}

.cards_activity:nth-child(6) {
    grid-area: f;
    margin: 20px 0 0px 20px;
}


/*--------------- cards Activités -------------------*/

.cards_activity {
    border-radius: 25px 25px 25px 25px;
    border: 1px solid var(--grisFond);
    box-shadow: 0px 10px 13px -7px #0000001f, 5px 5px 15px 5px rgba(0 0 0 / 0);
}

.cards_activity:hover {
    opacity: 0.8;
    transform: scale(1.05);
    transition: 0.4s ease-out;
}

.activity_img_big img {
    object-fit: cover;
    border-radius: 25px 25px 0 0;
    height: 474px;
    width: 100%;
}

.activity_img img {
    object-fit: cover;
    border-radius: 25px 25px 0 0;
    height: 180px;
    width: 100%;
}

.activity_infos {
    margin-left: 20px;
    overflow: hidden;
}



/*-------------- Footer -----------------------------*/

footer {
    background-color: var(--grisFond);
}

footer li {
    padding: 4px 0;
    margin-bottom: .5em;
}

footer li a {
    color: black;
}

.footer_container {
    display: flex;
}

.nos_hebergements {
    padding: 0 15%;
}

/*-------------- Média Queries -----------------------*/

@media screen and (max-width: 1487px) {

    footer {
        padding: 25px 20px 20px 20px;
    }

    .result_hebergements {
        /*width: 61%;*/
    }
    #result_popular{
        width: 34%;
    }

    .activity_infos {
        margin-left: 5px;
    }

    .cards_hebergements h3, .cards_popular h3 {
        font-size: 1.1em;
    }

    p {
        font-size: 0.9em;
    }

    .cards_activity:nth-child(1) {
        margin: 0 5px 0 0;
    }

    .cards_activity:nth-child(2) {
        margin: 0 5px 5px 5px;

    }

    .cards_activity:nth-child(3) {
        margin: 20px 5px 0 5px;

    }

    .cards_activity:nth-child(4) {
        margin: 0 5px;
    }

    .cards_activity:nth-child(5) {
        margin: 0 0 5px 5px;
    }

    .cards_activity:nth-child(6) {
        margin: 20px 0 0px 5px;
    }
}

@media screen and (max-width: 1230px) {
    .cards_wrapper {
        display: grid;
        grid-template-columns:repeat(2 , 1fr);
        justify-items: center;
    }
    #result_popular{
        justify-content: space-between;
    }
    .popular_img{
        height: 190px;
    }

    .cards_wrapper_activity {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
                "a c"
                "b d"
                "e f";
    }

    .cards_activity:nth-child(1) {
        grid-area: a;
        margin: 0 10px 10px 0;
    }

    .activity_img_big img {
        height: 180px;
    }

    .cards_activity:nth-child(2) {
        grid-area: b;
        margin: 10px 10px 10px 0;
    }

    .cards_activity:nth-child(3) {
        grid-area: e;
        margin: 10px 10px 0 0;
    }

    .cards_activity:nth-child(4) {
        grid-area: c;
        margin: 0 0 10px 10px;
    }

    .cards_activity:nth-child(5) {
        grid-area: d;
        margin: 10px 0 10px 10px;
    }

    .cards_activity:nth-child(6) {
        grid-area: f;
        margin: 10px 0 0 10px;
    }
}

@media screen and (max-width: 1024px) {
    #result_research {
        display: flex;
        flex-direction: column-reverse;
    }

    .result_hebergements {
        padding: 0;
        width: 100%;
        margin-top: 20px;
    }

    #result_popular {
        padding: 0;
        width: 100%;
    }
}

@media screen and (max-width: 768px) {

    .filtres_btn {
        display: flex;
        flex-wrap: wrap;
    }
    .footer_container {
        display: flex;
        flex-direction: column;
    }

    .nos_hebergements {
        padding: 0;
    }
}

@media screen and (max-width: 576px) {

    .main-container{
        max-width: 100%;
    }
    .research > .main-container{
        max-width: 90%;
    }
    /*--- Nav ----------------------------------*/

    .onglets{
        display: flex;
        flex-wrap: wrap;
    }
    /* Logo */
    .onglets li:nth-child(1){
        order: 1;
        flex-basis: 50%;
        padding-left: 20px;
        border-top: none;
    }
    /* Hebergements */
    .onglets li:nth-child(2) {
        order: 3;
        flex-basis: 50%;
        display: flex;
        justify-content: space-around;
    }
    /* Activités */
    .onglets li:nth-child(3){
        order: 4;
        flex-basis: 50%;
        display: flex;
        justify-content: space-around;
    }
    /*-S'inscrire -*/
    .onglets li:nth-child(4){
        order: 2;
        flex-basis: 50%;
        display: flex;
        justify-content: flex-end;
        padding-right: 20px;
    }
    .onglets li:nth-child(2),.onglets li:nth-child(3){
        border-bottom: 2px solid var(--grisFond);
    }
    .onglets li:nth-child(2):hover,
    .onglets li:nth-child(3):hover {
        border-top: none;
        border-bottom: 2px solid var(--bleu);
    }
    .onglets li {
        border-top: transparent!important;
    }
    header{
        padding: 0;
    }



    /*--- Modification du button (Recherche) ---*/
    #header_research {
        display: flex;
        justify-content: flex-start;
    }

    #header_research button {
        width: 55px;
        min-width: 50px;
        border-radius: 15px 15px 15px 15px;
    }


    /* Changement de du button recherche avec un font awesome */
    .icon {
        text-indent: -9999px;
        line-height: 0;
    }

    .icon::after {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f002";
        text-indent: 0;
        display: block;
        line-height: initial;
    }
    #header_research input[type="text"]{
        font-size: 15px;
    }

    /*---- Filtres --------------------------------*/
    .filtres_btn{
        display: grid;
        flex-wrap: nowrap;
        grid-template-columns:1fr 1fr ;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas:
                "a a"
                "b c"
                "d d"
                "e e";
    }
    .btn:nth-child(1){
        grid-area: a;
    }
    .btn:nth-child(2){
        grid-area: b;
    }
    .btn:nth-child(3){
        grid-area: c;
    }
    .btn:nth-child(4){
        grid-area: d;
    }
    .btn:nth-child(5){
        grid-area: e;
    }

    /*---    Cards hébergements  et Populaire  ----*/
    .cards_wrapper {
        display: grid;
        grid-template-columns: 1fr;
    }

    main {
        padding: 0;
        margin: 0;
    }

    .result_hebergements{
        width: 100%;
        background-color: #fff;
        padding: 0;
    }
    .cards_hebergements{
        margin: 15px auto;
    }

    .result_hebergements h2 {
        margin: 0 2rem;
    }

    #result_popular {
        border-radius: 0;
        padding-bottom: 2rem;
        width: 100%;
    }
    #result_popular h2{
        margin: 20px;
    }

    .popular_img {
        height: 150px;
    }

    /*----- Activités -----*/
    .cards_wrapper_activity {
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas:
                "a"
                "b"
                "c"
                "d"
                "e"
                "f";
    }
    .cards_activity:nth-child(1n+0){
        padding: 0;
        margin: 10px;
    }
    #activity{
        padding: 5px;
    }
    #activity h2{
        padding: 0 20px;
    }
    .activity_infos{
        margin-left: 20px;
    }

}